<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Create Recipe</h2>
          <%= form_with model: @recipe, url: recipes_path, method: :post, html: { class: 'form' } do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control', required: true %>
            </div>

            <div class="form-group">
              <%= f.label :preparation_time %>
              <%= f.number_field :preparation_time, class: 'form-control', required: true %>
            </div>

            <div class="form-group">
              <%= f.label :cooking_time %>
              <%= f.number_field :cooking_time, class: 'form-control', required: true %>
            </div>

            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, class: 'form-control', required: true %>
            </div>

            <div class="form-group">
              <%= f.label :public %>
              <%= f.select :public, [['Public', true], ['Private', false]], class: 'form-control' %>
            </div>

            <%= f.hidden_field :user_id, value: @user.id %>

            <div class="form-group text-center">
              <%= f.submit "Create Recipe", class: 'btn btn-primary btn-block' %>
            </div>
          <% end %>
          <%= link_to 'Cancel', recipes_path, class:"btn btn-info"%>
        </div>
      </div>
    </div>
  </div>
</div>
